.chat-bubble-container {
  display: flex;
  gap: 4px;
  width: calc(100% - 2rem);
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chat-details {
  display: flex;
  gap: 4px;
}

.chat-bubble {
  background-color: #f3f4f6;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  .chat-bubble-container {
    width: 500px;
  }
}
