<div class="chat-bubble-container">
  <svg
    class="avatar"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
      clip-rule="evenodd"
    ></path>
  </svg>

  <div class="chat-wrapper">
    <div class="chat-details">
      <span class="heading-l1">
        <ng-content select=".heading"></ng-content>
      </span>
    </div>
    <div class="chat-bubble">
      <p><ng-content select=".content"></ng-content></p>
    </div>
    <div class="message-status">
      <p class="sub-heading">Delivered</p>
    </div>
  </div>
</div>
