main {
  display: flex;
  justify-content: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
  #chat-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
    margin-bottom: 1rem;
    gap: 20px;
  }
}
