main {
  display: flex;
  justify-content: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  #chat-container {
    display: flex;
    flex-direction: column;
    height: 400px;

    overflow: auto;
    margin-bottom: 1rem;
    gap: 20px;
  }
}

#form-container {
  display: flex;
  input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  button {
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }
}

@media screen and (min-width: 768px) {
  #wrapper {
    width: 500px;
  }
}
