<header>
  <h1>{{ title }}</h1>
</header>
<main>
  <div id="wrapper">
    <div id="chat-container">
      @for(message of (messages$ | async)!; track $index) {
      <app-chat-bubble [response]="message"></app-chat-bubble>
      } @if(loading) {<app-loading-spinner
        text="Awaiting Response..."
      ></app-loading-spinner
      >}
    </div>

    <form (ngSubmit)="send()" id="form-container">
      <input [formControl]="input" placeholder="Ask something..." />
      <button type="submit">Send</button>
    </form>
  </div>
</main>
