/* You can add global styles to this file, and also import other style files */
body,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.sub-heading {
  color: #6b7280;
  font-style: italic;
}

.heading-l1 {
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
}
